
<p>Hello, {{initiator.displayName}}</p>
<p>Hello, {{templateParams.myVariable1}}</p>
<p>Hello, {{templateParams.myVariable2}}</p>
<p>Hello, {{templateParams.myVariable3}}</p>
<p>This is my first paragraph</p>
<p>This is my second paragraph</p>
To add or remove subscribers create a pull request against the file
