openapi: 3.0.1
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless API
  version: "2.0"
servers:
  - url: https://api.akeyless.io/
paths:
  /assoc-role-am:
    post:
      operationId: assocRoleAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assocRoleAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoleAuthMethodAssocOutput'
          description: assocRoleAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /assoc-target-item:
    post:
      operationId: assocTargetItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assocTargetItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTargetItemAssocOutput'
          description: assocTargetItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /auth:
    post:
      operationId: auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authOutput'
          description: authResponse wraps response body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /configure:
    post:
      operationId: configure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configure'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configureOutput'
          description: configureResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /connect:
    post:
      operationId: Connect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connect'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connectOutput'
          description: connectResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-artifactory-target:
    post:
      operationId: createArtifactoryTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createArtifactoryTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createArtifactoryTargetOutput'
          description: createArtifactoryTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-auth-method:
    post:
      operationId: createAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodOutput'
          description: createAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-auth-method-aws-iam:
    post:
      operationId: createAuthMethodAWSIAM
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodAWSIAM'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodAWSIAMOutput'
          description: createAuthMethodAWSIAMResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-auth-method-azure-ad:
    post:
      operationId: createAuthMethodAzureAD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodAzureAD'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodAzureADOutput'
          description: createAuthMethodAzureADResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-auth-method-cert:
    post:
      operationId: createAuthMethodCert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodCert'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodCertOutput'
          description: createAuthMethodCertResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-auth-method-gcp:
    post:
      operationId: createAuthMethodGCP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodGCP'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodGCPOutput'
          description: createAuthMethodGCPResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-auth-method-huawei:
    post:
      operationId: createAuthMethodHuawei
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodHuawei'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodHuaweiOutput'
          description: createAuthMethodHuaweiResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-auth-method-k8s:
    post:
      operationId: createAuthMethodK8S
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodK8S'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodK8SOutput'
          description: createAuthMethodK8SResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-auth-method-ldap:
    post:
      operationId: createAuthMethodLDAP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodLDAP'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodLDAPOutput'
          description: createAuthMethodLDAPResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-auth-method-oauth2:
    post:
      operationId: createAuthMethodOAuth2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodOAuth2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodOAuth2Output'
          description: createAuthMethodOAuth2Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-auth-method-oidc:
    post:
      operationId: createAuthMethodOIDC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodOIDC'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodOIDCOutput'
          description: createAuthMethodOIDCResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-auth-method-saml:
    post:
      operationId: createAuthMethodSAML
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodSAML'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodSAMLOutput'
          description: createAuthMethodSAMLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-auth-method-universal-identity:
    post:
      operationId: createAuthMethodUniversalIdentity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodUniversalIdentity'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodUniversalIdentityOutput'
          description: createAuthMethodUniversalIdentityResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-aws-target:
    post:
      operationId: createAWSTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAWSTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAWSTargetOutput'
          description: createAWSTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-azure-target:
    post:
      operationId: createAzureTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAzureTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAzureTargetOutput'
          description: createAzureTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-classic-key:
    post:
      operationId: CreateClassicKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClassicKey'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClassicKeyOutput'
          description: CreateClassicKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-db-target:
    post:
      operationId: createDBTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDBTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDBTargetOutput'
          description: createDBTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-dfc-key:
    post:
      operationId: createDFCKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDFCKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDFCKeyOutput'
          description: createDFCKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-dockerhub-target:
    post:
      operationId: createDockerhubTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDockerhubTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDockerhubTargetOutput'
          description: createDockerhubTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-dynamic-secret:
    post:
      operationId: createDynamicSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDynamicSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDynamicSecretOutput'
          description: createDynamicSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-eks-target:
    post:
      operationId: createEKSTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createEKSTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEKSTargetOutput'
          description: createEKSTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-gcp-target:
    post:
      operationId: createGcpTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createGcpTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createGcpTargetOutput'
          description: createGcpTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-github-target:
    post:
      operationId: createGithubTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createGithubTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createGithubTargetOutput'
          description: createGithubTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-gke-target:
    post:
      operationId: createGKETarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createGKETarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createGKETargetOutput'
          description: createGKETargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-k8s-target:
    post:
      operationId: createNativeK8STarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createNativeK8STarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createNativeK8STargetOutput'
          description: createNativeK8STargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-key:
    post:
      operationId: createKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createKeyOutput'
          description: createKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-ldap-target:
    post:
      operationId: createldapTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createLdapTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createLdapTargetOutput'
          description: createldapTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-pki-cert-issuer:
    post:
      operationId: CreatePKICertIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePKICertIssuer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createPKICertIssuerOutput'
          description: createPKICertIssuerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-rabbitmq-target:
    post:
      operationId: createRabbitMQTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRabbitMQTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRabbitMQTargetOutput'
          description: createRabbitMQTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-role:
    post:
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRoleOutput'
          description: createRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-rotated-secret:
    post:
      operationId: createRotatedSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRotatedSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRotatedSecretOutput'
          description: createRotatedSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-secret:
    post:
      operationId: createSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSecretOutput'
          description: createSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-ssh-cert-issuer:
    post:
      operationId: createSSHCertIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSSHCertIssuer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSSHCertIssuerOutput'
          description: createSSHCertIssuerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-ssh-target:
    post:
      operationId: createSSHTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSSHTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSSHTargetOutput'
          description: createSSHTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /create-web-target:
    post:
      operationId: createWebTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createWebTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createWebTargetOutput'
          description: createWebTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /decrypt:
    post:
      operationId: decrypt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decrypt'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryptOutput'
          description: decryptResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /decrypt-pkcs1:
    post:
      operationId: decryptPKCS1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decryptPKCS1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryptPKCS1Output'
          description: decryptPKCS1Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /decrypt-with-classic-key:
    post:
      operationId: decryptWithClassicKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decryptWithClassicKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryptWithClassicKeyOutput'
          description: decryptWithClassicKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /delete-assoc:
    post:
      operationId: deleteRoleAssociation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRoleAssociation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleAssociationOutput'
          description: deleteRoleAssociationResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /delete-assoc-target-item:
    post:
      operationId: deleteTargetAssociation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteTargetAssociation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteTargetAssociationOutput'
          description: deleteTargetAssociationResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /delete-auth-method:
    post:
      operationId: deleteAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAuthMethodOutput'
          description: deleteAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /delete-auth-methods:
    post:
      operationId: deleteAuthMethods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteAuthMethods'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAuthMethodsOutput'
          description: deleteAuthMethodsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /delete-item:
    post:
      operationId: deleteItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteItemOutput'
          description: deleteItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /delete-items:
    post:
      operationId: deleteItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteItems'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteItemsOutput'
          description: deleteItemsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /delete-role:
    post:
      operationId: deleteRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleOutput'
          description: deleteRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /delete-role-rule:
    post:
      operationId: deleteRoleRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRoleRule'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleRuleOutput'
          description: deleteRoleRuleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /delete-roles:
    post:
      operationId: deleteRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRoles'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRolesOutput'
          description: deleteRolesResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /delete-target:
    post:
      operationId: deleteTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteTargetOutput'
          description: deleteTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /delete-targets:
    post:
      operationId: deleteTargets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteTargets'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteTargetsOutput'
          description: deleteTargetsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /describe-item:
    post:
      operationId: describeItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/describeItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
          description: describeItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /describe-permissions:
    post:
      operationId: describePermissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/describePermissions'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribePermissionsOutput'
          description: DescribePermissionsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /encrypt:
    post:
      operationId: encrypt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/encrypt'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encryptOutput'
          description: encryptResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /encrypt-pkcs1:
    post:
      operationId: encryptPKCS1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/encryptPKCS1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encryptPKCS1Output'
          description: encryptPKCS1Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /encrypt-with-classic-key:
    post:
      operationId: encryptWithClassicKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/encryptWithClassicKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encryptOutput'
          description: encryptResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-k8s-auth-config:
    post:
      operationId: gatewayCreateK8SAuthConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateK8SAuthConfig'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateK8SAuthConfigOutput'
          description: gatewayCreateK8SAuthConfigResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-artifactory:
    post:
      operationId: gatewayCreateProducerArtifactory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerArtifactory'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerArtifactoryOutput'
          description: gatewayCreateProducerArtifactoryResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-aws:
    post:
      operationId: gatewayCreateProducerAws
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerAws'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerAwsOutput'
          description: gatewayCreateProducerAwsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-azure:
    post:
      operationId: gatewayCreateProducerAzure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerAzure'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerAzureOutput'
          description: gatewayCreateProducerAzureResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-cassandra:
    post:
      operationId: gatewayCreateProducerCassandra
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerCassandra'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerCassandraOutput'
          description: gatewayCreateProducerCassandraResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-certificate-automation:
    post:
      operationId: gatewayCreateProducerCertificateAutomation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerCertificateAutomation'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerCertificateAutomationOutput'
          description: gatewayCreateProducerCertificateAutomationResponse wraps response
            body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-custom:
    post:
      operationId: gatewayCreateProducerCustom
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerCustom'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerCustomOutput'
          description: gatewayCreateProducerCustomResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-dockerhub:
    post:
      operationId: gatewayCreateProducerDockerhub
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerDockerhub'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerDockerhubOutput'
          description: gatewayCreateProducerDockerhubResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-eks:
    post:
      operationId: gatewayCreateProducerEks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerEks'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerEksOutput'
          description: gatewayCreateProducerEksResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-gcp:
    post:
      operationId: gatewayCreateProducerGcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerGcp'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerGcpOutput'
          description: gatewayCreateProducerGcpResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-github:
    post:
      operationId: gatewayCreateProducerGithub
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerGithub'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerGithubOutput'
          description: gatewayCreateProducerGithubResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-gke:
    post:
      operationId: gatewayCreateProducerGke
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerGke'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerGkeOutput'
          description: gatewayCreateProducerGkeResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-hanadb:
    post:
      operationId: gatewayCreateProducerHanaDb
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerHanaDb'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerHanaDbOutput'
          description: gatewayCreateProducerHanaDbResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-k8s-native:
    post:
      operationId: gatewayCreateProducerNativeK8S
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerNativeK8S'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerNativeK8SOutput'
          description: gatewayCreateProducerNativeK8SResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-ldap:
    post:
      operationId: gatewayCreateProducerLdap
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerLdap'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerLdapOutput'
          description: gatewayCreateProducerLdapResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-mongo:
    post:
      operationId: gatewayCreateProducerMongo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerMongo'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerMongoOutput'
          description: gatewayCreateProducerMongoResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-mssql:
    post:
      operationId: gatewayCreateProducerMSSQL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerMSSQL'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerMSSQLOutput'
          description: gatewayCreateProducerMSSQLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-mysql:
    post:
      operationId: gatewayCreateProducerMySQL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerMySQL'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerMySQLOutput'
          description: gatewayCreateProducerMySQLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-oracle:
    post:
      operationId: gatewayCreateProducerOracleDb
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerOracleDb'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerOracleDbOutput'
          description: gatewayCreateProducerOracleDbResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-postgresql:
    post:
      operationId: gatewayCreateProducerPostgreSQL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerPostgreSQL'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerPostgreSQLOutput'
          description: gatewayCreateProducerPostgreSQLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-rabbitmq:
    post:
      operationId: gatewayCreateProducerRabbitMQ
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerRabbitMQ'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerRabbitMQOutput'
          description: gatewayCreateProducerRabbitMQResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-rdp:
    post:
      operationId: gatewayCreateProducerRdp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerRdp'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerRdpOutput'
          description: gatewayCreateProducerRdpResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-redshift:
    post:
      operationId: gatewayCreateProducerRedshift
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerRedshift'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerRedshiftOutput'
          description: gatewayCreateProducerRedshiftResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-create-producer-snowflake:
    post:
      operationId: gatewayCreateProducerSnowflake
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerSnowflake'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerSnowflakeOutput'
          description: gatewayCreateProducerSnowflakeResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-delete-allowed-management-access:
    post:
      operationId: gatewayDeleteAllowedManagementAccess
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayDeleteAllowedManagementAccess'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeleteSubAdminsOutput'
          description: gatewayDeleteSubAdminsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-delete-k8s-auth-config:
    post:
      operationId: gatewayDeleteK8SAuthConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayDeleteK8SAuthConfig'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeleteK8SAuthConfigOutput'
          description: gatewayDeleteK8SAuthConfigResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-delete-producer:
    post:
      operationId: gatewayDeleteProducer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayDeleteProducer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeleteProducerOutput'
          description: gatewayDeleteProducerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-get-config:
    post:
      operationId: gatewayGetConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayGetConfig'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AkeylessGatewayConfig'
          description: gatewayGetConfigResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-get-k8s-auth-config:
    post:
      operationId: gatewayGetK8SAuthConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayGetK8SAuthConfig'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayGetK8SAuthConfigOutput'
          description: gatewayGetK8SAuthConfigResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-get-producer:
    post:
      operationId: gatewayGetProducer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayGetProducer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DSProducerDetails'
          description: gatewayGetProducerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-get-producer-tmp-creds:
    post:
      operationId: gatewayGetTmpUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayGetTmpUsers'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TmpUserData'
                type: array
          description: gatewayGetTmpUsersResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-list-allowed-management-access:
    post:
      operationId: gatewayListAllowedManagementAccess
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayListAllowedManagementAccess'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubAdminsListReplyObj'
          description: gatewayListSubAdminsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-list-migration:
    post:
      operationId: gatewayListMigration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayListMigration'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayMigrationListOutput'
          description: gatewayMigrationListResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-list-producers:
    post:
      operationId: gatewayListProducers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayListProducers'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProducersListReplyObj'
          description: gatewayListProducersResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-revoke-producer-tmp-creds:
    post:
      operationId: gatewayRevokeTmpUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayRevokeTmpUsers'
        required: true
      responses:
        "200":
          content: {}
          description: gatewayRevokeTmpUsersResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-start-producer:
    post:
      operationId: gatewayStartProducer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayStartProducer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayStartProducerOutput'
          description: gatewayStartProducerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-stop-producer:
    post:
      operationId: gatewayStopProducer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayStopProducer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayStopProducerOutput'
          description: gatewayStopProducerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-sync-migration:
    post:
      operationId: gatewaySyncMigration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewaySyncMigration'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayMigrationSyncOutput'
          description: gatewayMigrationSyncResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-update-item:
    post:
      operationId: gatewayUpdateItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateItem'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayUpdateItemOutput'
          description: gatewayUpdateItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-update-k8s-auth-config:
    post:
      operationId: gatewayUpdateK8SAuthConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateK8SAuthConfig'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayUpdateK8SAuthConfigOutput'
          description: gatewayUpdateK8SAuthConfigResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-update-producer-artifactory:
    post:
      operationId: gatewayUpdateProducerArtifactory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateProducerArtifactory'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayUpdateProducerArtifactoryOutput'
          description: gatewayUpdateProducerArtifactoryResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-update-producer-aws:
    post:
      operationId: gatewayUpdateProducerAws
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateProducerAws'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayUpdateProducerAwsOutput'
          description: gatewayUpdateProducerAwsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-update-producer-azure:
    post:
      operationId: gatewayUpdateProducerAzure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateProducerAzure'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayUpdateProducerAzureOutput'
          description: gatewayUpdateProducerAzureResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-update-producer-cassandra:
    post:
      operationId: gatewayUpdateProducerCassandra
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateProducerCassandra'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayUpdateProducerCassandraOutput'
          description: gatewayUpdateProducerCassandraResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-update-producer-certificate-automation:
    post:
      operationId: gatewayUpdateProducerCertificateAutomation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateProducerCertificateAutomation'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayUpdateProducerCertificateAutomationOutput'
          description: gatewayUpdateProducerCertificateAutomationResponse wraps response
            body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-update-producer-custom:
    post:
      operationId: gatewayUpdateProducerCustom
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateProducerCustom'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayUpdateProducerCustomOutput'
          description: gatewayUpdateProducerCustomResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-update-producer-dockerhub:
    post:
      operationId: gatewayUpdateProducerDockerhub
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateProducerDockerhub'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayUpdateProducerDockerhubOutput'
          description: gatewayUpdateProducerDockerhubResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-update-producer-eks:
    post:
      operationId: gatewayUpdateProducerEks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateProducerEks'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayUpdateProducerEksOutput'
          description: gatewayUpdateProducerEksResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-update-producer-gcp:
    post:
      operationId: gatewayUpdateProducerGcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateProducerGcp'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayUpdateProducerGcpOutput'
          description: gatewayUpdateProducerGcpResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /gateway-update-producer-github:
    post:
      operationId: gatewayUpdateProducerGithub
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateProducerGithub'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayUpdateProducerGithubOutput'
          description: gatewayUpdateProducerGithubResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
        - v2
      x-codegen-request-body-name: body
[...]
